<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background-cus" style="background:url(https://webconf02.saehaens.com/images/gl-bg.png) no-repeat 0 0;background-size:100% 100%; ">
  <div class="container pt-9 pb-8" style="color:white ;">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4">넷컨퍼런스</h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12" style="font-size:22px; ">
	<br>
	<br>언택트 플랫폼 넷컨퍼런스에 오신 것을 환영합니다.
	<br>
        <br>언택트 비즈니스의 성공을 시작하세요.
        </p>
      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>
