<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="container mt-8 mb-6 text-center">

<h2 class="mb-6">주요 기능</h2>
<div class="row feature-stamp">
  <div class="col-lg-3 col-md-6">
    <span class="bg-custom" OnClick ="location.href='';" style="cursor:pointer"><img src="https://webconf02.saehaens.com/images/invite.png" alt=""/></span>
    <h4 class="mt-4">간편 초대</h4>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="feature-item">
      <span class="bg-custom" OnClick ="location.href='';" style="cursor:pointer" ><img src="https://webconf02.saehaens.com/images/small_room.png" alt=""/></span>
      <h4 class="mt-4">소규모룸</h4>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <span class="bg-custom" OnClick ="location.href='';" style="cursor:pointer"><img src="https://webconf02.saehaens.com/images/screen_share.png" alt="" /></span>
    <h4 class="mt-4">화면공유</h4>
  </div>
  <div class="col-lg-3 col-md-6">
    <span class="bg-custom" OnClick ="location.href='';" style="cursor:pointer"><img src="https://webconf02.saehaens.com/images/multi_device.png" alt=""/></span>
    <h4 class="mt-4">멀티 디바이스</h4>
  </div>
</div>

  <h2 class="mt-8 mb-6">서비스 지원</h2>
  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <span class="bg-custom" OnClick ="location.href='https://forms.gle/82aBY8UMPRfEKmTV9';" style="cursor:pointer" ><img src="https://webconf02.saehaens.com/images/approve.png" alt=""/></span>
        <h4 class="mt-4">승인신청</h4>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="bg-custom" OnClick ="location.href='https://webconf02.saehaens.com/images/WebRTC0104.pdf';" style="cursor:pointer"><img src="https://webconf02.saehaens.com/images/user_guide.png" alt="" /></span>
      <h4 class="mt-4">사용자 가이드</h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="bg-custom" OnClick ="location.href='https://open.kakao.com/o/sjT2nSMc';" style="cursor:pointer"><img src="https://webconf02.saehaens.com/images/chat_consultation.png" alt="" /></span>
      <h4 class="mt-4">채팅 상담</h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="bg-custom" OnClick ="location.href='https://939.co.kr/';" style="cursor:pointer"><img src="https://webconf02.saehaens.com/images/remote_support.png" alt=""/></span>
      <h4 class="mt-4">원격지원</h4>
    </div>
  </div>
</div>
